<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to JobBoard application, <%= @user.email %></h1>
    <p>There are new jobs for you:
        <% @company.each do |komp| %>
          <% @job.each do |jobic| %>
            <% if komp.job_id==jobic.id %>
              <div class="content">
                 <div class="ui fitted divider"></div>
                <div> Job name: <%= jobic.title %></div>
                <div> Posted date : <%= jobic.created_at.to_date %></div>
                <div> Company name : <%= komp.name %> </div>
              </div>
          <% end %>
        <% end %>
      <% end %>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
