<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.email %></h1>
    <p>
        <% @category.each do |kategori|  %>
            <% @company.each do |komp| %>
              <% @job.each do |jobic| %>
                  <% if komp.job_id==jobic.id %>
                      <% if jobic.category_id==@user.category_id %>
                        <p><b> For this category : <%= kategori.name %> there are listed jobs: </b></p>
                        <p> Job name: <%= jobic.title %> </p>
                        <p> Posted date : <%= jobic.created_at.to_date %>
                      <% end %>
                  <% end %>
              <% end %>
            <% end %>
        <% end %>
    </p>
    <p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
